In [1]:
# Jordy Jordan
# 11/19/2022
# 11.1 
#  Create a file called zoo.py. In it, define a function called hours()
#  that prints the string 'Open 9-5 daily'


#zoo.py (wont work on this unless zoo.py file is on the same folder)

def hours ():
    return "Open 9-5 daily"

In [2]:
#Import the zoo module and call its hours() function
import zoo
hours()

'Open 9-5 daily'

In [3]:
# 11.2 
# In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

import zoo as menagerie
menagerie.hours()

'Open 9-5 daily'

In [4]:
# 11.3
# 
import pandas as pd
import sqlite3 as db

In [5]:
conn = db.connect('sqlite.db')

In [6]:
cn = conn.cursor()

In [7]:
cn.execute("CREATE TABLE books (title NVARCHAR(50), author NVARCHAR(50), year INTEGER)")

In [8]:
cn.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cn.fetchall())

[('books',)]

In [9]:
cn.execute("INSERT INTO books VALUES ('The Weirdstone of Brisingamen','Alan Garner', 1960)")
cn.execute("INSERT INTO books VALUES ('Perdido Street Station', 'China Miéville', 2000)")
cn.execute("INSERT INTO books VALUES ('Thud!', 'Terry Pratchett', 2005)")
cn.execute("INSERT INTO books VALUES ('The Spellman Files', 'Lisa Lutz', 2007)")
cn.execute("INSERT INTO books VALUES ('Small Gods', 'Terry Pratchett', 1992)")

In [10]:
cn.execute("SELECT * FROM books;")
print(cn.fetchall())

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Perdido Street Station', 'China Miéville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007), ('Small Gods', 'Terry Pratchett', 1992)]

In [11]:
conn.commit()

In [12]:
cn.close()
conn.close()

In [13]:
con = db.connect('sqlite.db')
df_books = pd.read_sql_query('select * from books', con)

In [14]:
df_books

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Miéville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

In [15]:
L = df_books['title'].tolist()

In [16]:
print('Unsorted list: \n', L)

Unsorted list:
 ['The Weirdstone of Brisingamen', 'Perdido Street Station', 'Thud!', 'The Spellman Files', 'Small Gods']

In [17]:
L.sort()

In [18]:
print('Sorted list: \n', L)

Sorted list:
 ['Perdido Street Station', 'Small Gods', 'The Spellman Files', 'The Weirdstone of Brisingamen', 'Thud!']

In [19]:
con.close()